body {
  background-color: rgb(72, 53, 35);
  margin: 0;
  height: 100vh;
}

header {
  font-size: 6rem;
  font-weight: 700;
  color: rgb(82, 170, 130);
}

p {
  font-weight: 700;
  font-size: 6rem;
  color: rgb(182, 182, 182);
}

label {
  font-weight: 700;
  font-size: 4rem;
  color: rgb(82, 170, 130);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  padding: 3%;
}
